body{
    width:300px;
    height:300px;
    background-color:aliceblue;
    display:flex;
    justify-content:center;
}
.container{
        border: 8px solid red;
        border-radius: 26px solid blue;
        background-color: blue;
}
p{
    display:inner-flex;
    margin:auto 10px;
    margin-top:30px;
    font-size:25px;
    color:cornsilk;
    border-radius:12px;
    border:1px solid lightblue;
    padding:20px;
    font-style: italic;
    background-color: black;
}
